.Login{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background: white;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translateY(50%) translateX(10%);
}

.Login-title{
    background: #f59f9f;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}