*, *::after, *::before{
    margin: 0,
    padding: 0,
    font-size: 16px,
    box-sizing: border-box:
}

body{
    background: #f7f0f0;
}

.background-cover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    with: 100%;
    min-width: 720px;
    height: 100vh;
    overflow: hidden;
}

.background-cover img{
    width: 100%;
    min-width: 1280px;
}