{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="ui-content-title">
        <span class="icon">
            <div class="material-icons">
                <i class="material-icons">account_balance</i>
            </div>
        </span>
        <span>Spas</span>
    </div>
    <div class="ui-content-body">
        <div class="row">
            <div class="col s12">
                <div class="ui-table">
                    <div class="ui-table-header">
                        <div class="ui-table-header-item">#</div>
                        <div class="ui-table-header-item">Name</div>
                        <div class="ui-table-header-item">Address</div>
                    </div>
                    <div class="ui-table-body">
                        pass
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}