{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/users/login.css' %}">
    <title>SPA | Login</title>
</head>
<body>

    <div class="background-cover">
        <img src="{% static 'assets/background-login.jpg' %}">
    </div>

    <div class="Login">
        <div class="Login-title">Log in</div>
        <form action="" method="POST" class="Login-body">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="">{{ field.label }}</label>
                    {{ field }}
                </div>
                {{ form.errors }}
            {% endfor %}
            <button type="submit">Log in!</button>
        </form>
    </div>
</body>
</html>